<div class="container">
  <div class="row">
    <div class="text-center">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewpost">
      <!-- In above line data-target id must be same modal popup id -->
        New Post
      </button>
    </div>
  </div>
  <br>
  <br>

  <div class="row" id="container_post">
    <%= render @posts %>
  </div>

  <%= form_for(@post, method: :post) do |f| %>
    <div class="modal fade" id="mynewpost" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <!-- Modal id must be same with data-target id in buttom -->
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="field">
              <%= f.label :title %><br>
              <%= f.text_area :title, class: "form-control post_title" %>
            </div>
            <div class="field">
              <%= f.label :body %><br>
              <%= f.text_area :body, class: "form-control post_content" %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="mynewpostclose" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= submit_tag "Create", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>